<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>10873781601-hfm0t5c064dsdrj2hf43cm0p6hhp9f35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10873781601-hfm0t5c064dsdrj2hf43cm0p6hhp9f35</string>
	<key>API_KEY</key>
	<string>AIzaSyANMkNsU3NBYjg-d4WGZafLeJcvmj1hD1M</string>
	<key>GCM_SENDER_ID</key>
	<string>10873781601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kilt</string>
	<key>PROJECT_ID</key>
	<string>kilt-b9074</string>
	<key>STORAGE_BUCKET</key>
	<string>kilt-b9074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:10873781601:ios:da76d793ef3e8bdb</string>
	<key>DATABASE_URL</key>
	<string>https://kilt-b9074.firebaseio.com</string>
</dict>
</plist>
